# created by virtualenv automatically
*# Python cache
__pycache__/
*.pyc

# Virtual environment
MLT_Project/


# Local settings
*.log


# Model files
*.pkl

# Static and media
/static/
/media/

# VSCode
.vscode/

