# created by virtualenv automatically
*# Python cache
__pycache__/
*.pyc

# Virtual environment
MLT_Project/

# Django DB
db.sqlite3

# Local settings
*.log
*.json

# Model files
*.pkl

# Static and media
/static/
/media/

# VSCode
.vscode/

